h2   {color: midnightblue;}
h3   {color: steelblue;}

#blueBar{
    top:0;
    left:0;
    width:100%;
    height:120px;
    background-color:steelblue;
    padding-left:15px;
    padding-top:1px;
    margin-left:0px;
    margin-top:0px;
}

#blueBar h1 {
    color: white;
}

#blueBar h2 {
    color: white;
}
